<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beproject.lams">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_SYNC_SETTINGS" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".data.LamsContentProvider"
            android:authorities="com.beproject.lams"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:noHistory="true"
            android:parentActivityName=".UserActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beproject.lams.UserActivity" />
        </activity>
        <activity
            android:name=".StudentListActivity"
            android:label="@string/title_student_list"
            android:parentActivityName=".UserActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beproject.lams.UserActivity" />
        </activity>
        <activity
            android:name=".StudentDetailActivity"
            android:label="@string/title_student_detail"
            android:parentActivityName=".StudentListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beproject.lams.StudentListActivity" />
        </activity>

        <service
            android:name=".sync.LamsSyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <service
            android:name=".sync.LamsAuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".ActivityTimeTable"
            android:label="@string/title_activity_activity_time_table"
            android:parentActivityName=".UserActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beproject.lams.UserActivity" />
        </activity>
    </application>

</manifest>